@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.section-title{
  font-size: 30px;
  font-weight: bold;
  color: #ba68c8  ;
}
.header{
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
}
.menu{
  background-color: #3a0d54  ;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon{
  font-size: 24px;
}

.mobile-menu{
  display: none;
}
.web-menu{
  display: flex;
}

.logo{
  display: flex;
  font-size: 36px;
  color: #ba68c8  ;
  font-weight: 800;
}
body{
  color: white;
}
@media only screen and (max-width: 720px) {
  .mobile-menu{
      display: flex;
  }
  .web-menu{
      display: none;
  }
  .logo{
      font-size: 24px;
  }
}

.logoimg{
  width: 80px;
  height: 80px;
}
